body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 600px;
}

.drop-zone {
    border: 2px dashed #ссс;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    height: 300px;
    transition: border 0.3s;
    cursor: pointer;
}

.drop-zone:hover {
    border-color: #007bff;
}

.drop-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.choose-files-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.choose-files-btn:hover {
    background-color: #0056b3;
}

.upload-progress {
    margin-top: 20px;
}

.progress-bar {
    width: 0;
    height: 20px;
    background-color: #007bff;
    border-radius: 5px;
    transition: width 0.3s;
}